// ._schedule {
  // .chart-container,
  // .available-devices,
.schedule-container {
  min-height: 200px;
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  box-shadow:$primaryShadow;
  .storage-switcher {
    background: white;
    outline: none;
    border: none;
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    > .switcher-label {
      width: 90px;
      height: 30px;
      position: absolute;
      left: -25px;
      top: 42%;
      display: block;
      transform: rotate(270deg);
      background: white;
      color: $primaryColor;
      transform-origin: center center 0;
    }
    .vertical-line {
      width: 2px;
      height: 90%;
      float: left;
      background: $tertiaryColor;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50%;
    }
  }
  .available-devices {
    width: 200px;
    overflow-x: hidden;
    position: relative;
    transition: width .2s linear;
    &.off {
      width: 30px;
      // .storage-switcher {
      //   border-left: none;
      // }
    }
    // >.ng-enter,>.ng-leave {
    //   width: 20px;
    // }
    // >.ng-enter.ng-enter-active,
    // >.ng-leave {
    //   opacity: 200px;
    // }

    // >.ng-leave.ng-leave-active,
    // >.ng-enter {
    //   opacity: 20px;
    // }
    .md-button {
      font-size: 11px;
      height: 20px;
      min-height: 20px;
      line-height: 1em;
    }
  }
  .devices-list {
    width: 160px;
    font-size: .8em;
    >.ng-enter,>.ng-leave {
      transition: .2s linear all;
      opacity: 0;
    }
    >.ng-enter.ng-enter-active,
    >.ng-leave {
      opacity: 1;
    }

    >.ng-leave.ng-leave-active,
    >.ng-enter {
      opacity: 0;
    }

    .device {
      list-style: none;
      background-color: $primaryColor;
      color: white;
      border-radius: 3px;
      // height: 25px;
      margin: 3px;
      padding: 5px 10px;
    }
  }
}
// .devices-list {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
// }
.control-bar {
  margin-bottom: 20px;
}
.btn, .btn:focus {
  outline: none;
}
.btn-default {
  &:focus:not(.active) {
    background-color: transparent;
  }
}

.storage-switcher {
  background: white;
  outline: none;
  border: none;
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  > .switcher-label {
    width: 90px;
    height: 30px;
    position: absolute;
    left: -25px;
    top: 42%;
    display: block;
    transform: rotate(270deg);
    background: white;
    color: $primaryColor;
    transform-origin: center center 0;
  }
  .vertical-line {
    width: 2px;
    height: 90%;
    float: left;
    background: $tertiaryColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
  }
}

.scale-select {
  padding-bottom: 31px;
}
// }