<md-dialog aria-label="dialog">
     <md-toolbar md-colors="{backgroundColor: 'siloblue-600', color: 'siloblue-50'}">
      <div class="md-toolbar-tools">
        <h2>
            <span ng-show="vm.state==='create'">Create</span> 
            <span ng-show="vm.state==='view'">View</span> 
            record
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <i class="fa fa-remove fa-2" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <ng-form name="recordForm">
            <div layout="row" layout-margin="5px">
                <div layout="row" layout-align="space-around center">
                    <label class="md-block">{{'schedule.from'| translate}} *</label>
                    <md-datepicker 
                        required
                        class="md-block"
                        style="margin-right: 0;"
                        ng-disabled="vm.state==='view'"
                        ng-model="vm.record.startDate"
                        ng-change="vm.computeTotalTime([vm.record.startDate, vm.record.endDate, vm.record.employees])"
                        md-open-on-focus
                        md-hide-icons='triangle'
                        aria-label="Start date range"
                        ></md-datepicker>
                    <div 
                        class="md-block"
                        ng-disabled="vm.state==='view'"
                        uib-timepicker show-meridian="false" 
                        ng-model="vm.record.startDate"></div>
                </div>
                <div layout="row" layout-align="space-around center">
                    <label class="md-block">{{'schedule.to'| translate}} *</label>
                    <md-datepicker 
                        required
                        class="md-block"
                        style="margin-right: 0;"
                        ng-disabled="vm.state==='view'"
                        ng-model="vm.record.endDate"
                        ng-change="vm.computeTotalTime([vm.record.startDate, vm.record.endDate, vm.record.employees])"
                        md-min-date="vm.record.startDate"
                        md-open-on-focus
                        md-hide-icons='triangle'
                        aria-label="End date range"
                        ></md-datepicker>
                    <div 
                        class="md-block"
                        ng-disabled="vm.state==='view'"
                        uib-timepicker show-meridian="false" 
                        ng-model="vm.record.endDate">
                    </div>
                </div>
            </div>
            <md-input-container class="md-block" flex-gt-xs>
                <label>{{'logbook.employees' | translate}}</label>
                <md-select class="md-select" multiple="true" ng-model="vm.record.employees" ng-disabled="vm.state==='view'" required>
                    <md-option ng-value="employee._id" ng-repeat="employee in vm.employees">{{employee.realName}} ({{employee.username}})</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>{{'logbook.totalTime' | translate}} ({{'h:m' | translate}})</label>
                <input ng-model="vm.record.totalTime" duration ng-disabled="vm.state === 'view'">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>{{'logbook.reason' | translate}}</label>
                <md-select class="md-select" ng-model="vm.record.reason" ng-disabled="vm.state==='view'" required>
                    <md-option ng-value="reason" ng-repeat="reason in vm.reasons">{{ 'logbook.reasons.' + reason | translate }}</md-option>
                </md-select>
            </md-input-container>
            <md-checkbox ng-model="hasSpareParts" ng-disabled="vm.state==='view'">
                Spare parts
            </md-checkbox>
            <div ng-if="hasSpareParts">
                <div layout="row" layout-align="center center" ng-repeat="sparePart in vm.record.spareParts track by $index">
                    <span>{{$index + 1}}.</span>
                    <md-input-container class="md-block" style="margin: 0" flex-gt-xs>
                        <input ng-model="vm.record.spareParts[$index]" ng-disabled="vm.state==='view'">
                    </md-input-container>
                    <md-button
                        ng-disabled="vm.record.spareParts[$index].length === 0"
                        ng-if="$last && vm.state !== 'view' && vm.record.spareParts.length <= vm.maxSpareParts"
                        class="md-fab md-mini"
                        md-colors="{backgroundColor: 'siloblue-700', color: 'siloblue-50'}"
                        ng-click="vm.record.addSparePart()"
                        title="{{ 'button.add' | translate }}">
                            <i class="fa fa-plus fa-2"></i>
                    </md-button>
                    <md-button
                        ng-if="!$last && vm.state !== 'view' || $index === vm.maxSpareParts"
                        class="md-fab md-mini md-warn"
                        ng-click="vm.record.removeSparePart($index)"
                        title="{{ 'button.remove' | translate }}">
                            <i class="fa fa-remove fa-2"></i>
                    </md-button>
                </div>
            </div>
            <md-input-container class="md-block">
                <label>{{ 'object.comment' | translate }}</label>
                <textarea ng-model="vm.record.comment" md-maxlength="1000" ng-disabled="vm.state==='view'"></textarea>
            </md-input-container>
        </ng-form>
    </md-dialog-content>
    <md-dialog-actions ng-if="vm.state !== 'view'">
        <md-button ng-disabled="recordForm.$invalid"
                   class="md-raised"
                   md-colors="{backgroundColor: 'siloblue-700', color: 'siloblue-50'}"
                   ng-click="vm.save(vm.record)">{{ 'button.save' | translate }}</md-button>
    </md-dialog-actions>
</md-dialog>
