<!--<div layout="row">-->
    <!--<md-select ng-model="vm.query.status">-->
        <!--<md-option  ng-repeat="(prop, status) in vm.states" ng-value="status" >{{prop}}</md-option>-->
    <!--</md-select>-->
<!--</div>-->
<md-table-container>
    <table md-table>
        <thead md-head md-order="vm.query.order">
            <tr md-row>
                <th md-column md-order-by="number">{{ 'order.number' | translate }}</th>
                <th md-column md-order-by="supplier">{{ 'order.supplier' | translate }}</th>
                <th md-column md-order-by="silo">{{ 'common.silo' | translate }}</th>
<!--                 <th md-column md-order-by="createdAt">{{ 'order.createdAt' | translate }}</th>
                <th md-column md-order-by="plannedDeliveryAt">{{ 'order.plannedDeliveryAt' | translate }}</th>
                <th md-column md-order-by="deliveredAt">{{ 'order.deliveredAt' | translate }}</th> -->
                <th md-column>{{ 'order.amountOfTons' | translate }}</th>
                <th md-column>{{ 'order.amountCHF' | translate }}</th>
                <th md-column>{{ 'order.amountCHFPerTon' | translate }}</th>
                <th md-column md-order-by="status">{{ 'order.status' | translate }}</th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <!--<tr md-row ng-repeat="order in vm.orders | filter: {status: vm.query.status} | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">-->
            <tr md-row ng-repeat="order in vm.orders | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                <td md-cell><span style="text-overflow: ellipsis; overflow: hidden; width: 200px; display: block;" title="{{order.number || order._id}}">{{order.number || order._id}}</span></td>
                <td md-cell>{{order.supplier.companyName}}</td>
                <td md-cell>{{order.silo.serial}}</td>

<!--                 <td md-cell>{{order.createdAt | date: vm.dateFormat}}</td>
                <td md-cell>{{order.plannedDeliveryAt | date: vm.dateFormat}}</td>
                <td md-cell>{{order.deliveredAt | date: vm.dateFormat}}</td> -->
                <td md-cell>{{order.amountOfTons}}</td>
                <td md-cell>{{order.amountCHF }}</td>
                <td md-cell>{{order.amountCHF / order.amountOfTons || null }}</td>
                <td md-cell>{{order.status}}</td>
                <td md-cell>
                    <div class="actions">
                        <md-button class="md-fab md-mini" md-colors="{backgroundColor: 'siloblue-300', color: 'siloblue-50'}" ui-sref="admin.orders.update({id: order._id})" title="{{ 'button.view' | translate }}">
                            <i class="fa fa-info fa-2"></i>
                        </md-button>
                        <md-button class="md-fab md-mini md-warn"
                                ng-click="vm.remove(order)"
                                title="{{ 'button.remove' | translate }}">
                            <i class="fa fa-remove fa-2"></i>
                        </md-button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{ vm.orders.length }}" md-page-select></md-table-pagination>