<div layout="row">
    <form layout="column" name="configForm">
        <div layout="row" class="md-block">
            <md-input-container flex>
                <label>{{ 'config.expiresIn' | translate }}</label>
                <input type="text" ng-model="vm.config.expiresIn" ng-pattern="/^[0-9]+$/">
            </md-input-container>
        </div>
        <div layout="row" class="md-block">
            <md-input-container flex>
                <label>{{ 'config.email' | translate }}</label>
                <input type="text" ng-model="vm.config.email" ng-pattern="/^.+@.+\..+$/">
            </md-input-container>
        </div>
        <md-card layout-padding="5px">
            <md-card-title>
                    <h3>{{ 'config.smtp' | translate }}</h3>
            </md-card-title>
            <div layout="row">
                <md-input-container>
                    <label>{{ 'config.host' | translate }}</label>
                    <input type="text" ng-model="vm.config.smtp.host">
                </md-input-container>
                <md-input-container>
                    <label>{{ 'config.user' | translate }}</label>
                    <input type="email" ng-model="vm.config.smtp.auth.user">
                </md-input-container>

                <md-input-container>
                    <label>{{ 'config.pass' | translate }}</label>
                    <input type="text" ng-model="vm.config.smtp.auth.pass">
                </md-input-container>
            </div>
        </md-card>
        <div layout="row">
            <md-button ng-disabled="configForm.$invalid" class="md-raised" md-colors="{backgroundColor: 'siloblue-700', color: 'siloblue-50'}" ng-click="vm.updateConfig(vm.config)">{{ 'button.update' | translate }}</md-button>
        </div>
    </form>
</div>