<md-table-container>
    <h1>{{ 'common.silos' | translate }}</h1>
    <table md-table>
        <thead md-head md-order="vm.querySilos.order">
            <tr md-row>
                <th md-column md-order-by="serial">{{ 'device.serial' | translate }}</th>
                <th md-column>{{ 'device.address' | translate }}</th>
                <th md-column>{{ 'device.maxLoad' | translate }}</th>
                <!--<th md-column md-order-by="fillingLevel">{{ 'device.fillingLevel' | translate }}</th>-->
                <th md-column md-order-by="fillingLevel">{{ 'device.fillingLevelPer' | translate }}</th>
                <!--<th md-column>{{ 'device.fillingLevelPer' | translate }}</th>-->
                <th md-column style="width: 100%"></th>
                <th md-column></th>
                <th md-column></th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
                <tr md-row ng-repeat-start="silo in vm.getAllSilos | orderBy: vm.querySilos.order | limitTo: vm.querySilos.limit : (vm.querySilos.page -1) * vm.querySilos.limit">
                    <td md-cell>{{silo.serial}}</td>
                    <td md-cell>
                        <span>{{silo.object.location.address.country}}</span>
                        <span>{{silo.object.location.address.town}}</span>
                        <span>{{silo.object.location.address.streetNr}}</span>
                        <span>{{silo.object.location.address.zip}}</span>
                    </td>
                    <td md-cell>{{silo.maxLoad}}</td>
                    <td md-cell>{{silo.fillingLevel}}</td>
                    <td md-cell>
                        <div class="meter" ng-if="silo.percent">
                            <span  style="width: {{silo.percent}}%" ng-class="{ full: silo.percent == 100, orange: silo.percent < 50 && silo.percent >= 30, red: silo.percent < 30 }"></span>
                        </div>
                    </td>
                    <td md-cell style="padding:0">
                        <div class="actions">
                            <md-button
                                    class="md-fab md-mini"
                                    md-colors="{backgroundColor: 'siloblue-300', color: 'siloblue-50'}"
                                    ui-sref="silo({id: silo._id})"
                                    title="{{ 'button.view' | translate }}">
                                <i class="fa fa-info fa-2"></i>
                            </md-button>
                        </div>
                    </td>
                    <td md-cell style="padding:0">
                        <div class="actions">
                            <md-button
                                    ng-if="!vm.permission"
                                    class="md-fab md-mini"
                                    md-colors="{backgroundColor: 'siloblue-700', color: 'siloblue-50'}"
                                    ui-sref="admin.devices.update({id: silo._id, type: silo.type})"
                                    title="{{ 'button.update' | translate }}">
                                <i class="fa fa-edit fa-2"></i>
                            </md-button>
                        </div>
                    </td>
                    <td md-cell style="padding:0">
                        <div class="actions">
                            <md-button
                                    ng-if="!vm.permission"
                                    class="md-fab md-mini md-warn"
                                    ng-click="vm.removeSilo(silo)"
                                    title="{{ 'button.remove' | translate }}">
                                <i class="fa fa-remove fa-2"></i>
                            </md-button>
                        </div>
                    </td>
                </tr>
                <tr md-row ng-repeat-end ng-if="silo.orders && silo.orders.length > 0">
                    <td md-cell colspan="8" style="border-top: none">
                        <div ng-repeat="order in silo.orders" class="silo-order">
                            <span>{{ 'order.createdAt' | translate }}: </span>
                            <span>{{order.createdAt | date: vm.dateFormat}}, </span>
                            <span ng-if="order.plannedDeliveryAt">{{ 'order.plannedDeliveryAt' | translate }}: </span>
                            <span ng-if="order.plannedDeliveryAt">{{order.plannedDeliveryAt | date: vm.dateFormat}}, </span>
                            <!--<span>{{ 'order.deliveredAt' | translate }}: </span>-->
                            <!--<span>{{order.deliveredAt | date: vm.dateFormat}}, </span>-->
                            <span>{{ 'order.amountOfTons' | translate }}: </span>
                            <span>{{order.amountOfTons}}, </span>
                            <span>{{ 'order.supplier' | translate }}: </span>
                            <span>{{silo.supplier.companyName}}</span>
                            <!--<span>{{ 'order.status' | translate }}: </span>-->
                            <!--<span>{{order.status}}</span>-->
                        </div>
                    </td>
                </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="vm.querySilos.limit" md-page="vm.querySilos.page" md-total="{{ vm.getAllSilos.length }}" md-page-select></md-table-pagination>
<md-table-container>
    <h1>{{ 'common.heaters' | translate }}</h1>
    <table md-table>
        <thead md-head md-order="vm.queryHeaters.order">
            <tr>
                <th md-column md-order-by="serial">{{ 'device.serial' | translate }}</th>
                <th md-column>{{ 'device.address' | translate }}</th>
                <th md-column>{{ 'device.status' | translate }}</th>
                <th md-column>{{ 'device.alert' | translate }}</th>
                <th md-column md-order-by="operationHours">{{ 'device.operationHours' | translate }}</th>
                <th md-column>{{ 'device.ashLevel' | translate }}</th>
                <th md-column></th>
                <th md-column></th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr ng-repeat="heater in vm.getAllHeaters | orderBy: vm.queryHeaters.order | limitTo: vm.queryHeaters.limit : (vm.queryHeaters.page -1) * vm.queryHeaters.limit">
                <td md-cell>{{heater.serial}}</td>
                <td md-cell>
                    <span>{{heater.object.location.address.country}}</span>
                    <span>{{heater.object.location.address.town}}</span>
                    <span>{{heater.object.location.address.streetNr}}</span>
                    <span>{{heater.object.location.address.zip}}</span>
                </td>
                <td md-cell>
                    <span ng-if="heater.status" class="round-box statusOn">{{ 'device.on' | translate }}</span>
                    <span ng-if="!heater.status" class="round-box">{{ 'device.off' | translate }}</span>
                </td>
                <td md-cell>
                    <span ng-if="heater.alert" class="round-box alertYes">{{ 'device.yes' | translate }}</span>
                    <span ng-if="!heater.alert" class="round-box">{{ 'device.no' | translate }}</span>
                </td>
                <td md-cell><span ng-if="heater.operationHours">{{ heater.operationHours }}</span></td>
                <td md-cell>
                    <div class="meter" ng-if="heater.ashLevel">
                        <span style="width: {{heater.ashLevel}}%" ng-class="{ orange: heater.ashLevel < 70 && heater.ashLevel >= 50, red: heater.ashLevel >= 70 }"></span>
                    </div>
                </td>
                <td md-cell style="padding:0">
                    <div class="actions">
                        <md-button
                            class="md-fab md-mini"
                            md-colors="{backgroundColor: 'siloblue-300', color: 'siloblue-50'}"
                            ui-sref="heater({id: heater._id})"
                            title="{{ 'button.view' | translate }}">
                            <i class="fa fa-info fa-2"></i>
                        </md-button>
                    </div>
                </td>
                <td md-cell style="padding:0">
                    <div class="actions">
                        <md-button
                            ng-if="!vm.permission"
                            class="md-fab md-mini"
                            md-colors="{backgroundColor: 'siloblue-700', color: 'siloblue-50'}"
                            ui-sref="admin.devices.update({id: heater._id, type: heater.type})"
                            title="{{ 'button.update' | translate }}">
                            <i class="fa fa-edit fa-2"></i>
                        </md-button>
                    </div>
                </td>
                <td md-cell style="padding:0">
                    <div class="actions">
                        <md-button
                            ng-if="!vm.permission"
                            class="md-fab md-mini md-warn"
                            ng-click="vm.removeHeater(heater)"
                            title="{{ 'button.remove' | translate }}">
                            <i class="fa fa-remove fa-2"></i>
                        </md-button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="vm.queryHeaters.limit" md-page="vm.queryHeaters.page" md-total="{{ vm.getAllHeaters.length }}" md-page-select></md-table-pagination>