<div class="_footer" ng-controller="FooterCtrl as vm">
    <div class="container">
        <div class="row">
            <div ng-if="vm.company" class="col-sm-3">
                <span>Company: </span>
                <span ng-bind="vm.company.name"></span>
            </div>
            <div ng-if="vm.company" class="col-sm-3">
                <span>Email: </span>
                <span ng-bind="vm.company.email"></span>
            </div>
            <div ng-if="vm.company" class="col-sm-3">
                <span>Phone: </span>
                <span ng-bind="vm.company.phone"></span>
            </div>
            <div class="col-sm-3">
                <span>© Suter Entfeuchtungstechnik AG</span>
            </div>
        </div>
    </div>
</div>
