<md-table-container>
    <table md-table>
        <thead md-head md-order="vm.query.order">
            <tr md-row>
                <th md-column md-order-by="username">{{ 'user.username' | translate }}</th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="user in vm.getAllUsers | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                <td md-cell>{{user.username}}</td>
                <td md-cell>
                    <div class="actions">
                        <md-button class="md-fab md-mini" md-colors="{backgroundColor: 'siloblue-700', color: 'siloblue-50'}" ng-click="vm.update(user._id)" title="{{ 'button.update' | translate }}"><i class="fa fa-edit fa-2"></i></md-button>
                        <md-button class="md-fab md-mini md-warn" ng-click="vm.remove(user)" title="{{ 'button.remove' | translate }}"><i class="fa fa-remove fa-2"></i></md-button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{ vm.getAllUsers.length }}" md-page-select></md-table-pagination>