._main-schedule,
._project-schedule {
  .project, .device, .silo, .heater {
    transition: opacity .2s;
  }

  .object,
  .silo {
    &.on-drag-hover {
      border-radius: 3px;
      @include border-shadow(3px, rgba(0, 128, 0, .5));
    }
  }
  .object, .project {
    &.selected {
      border-radius: 3px;
      @include border-shadow(3px, rgba(0, 128, 0, .5));
    }
  }
  .on-drag-hover {
    .project, .device, .heater {
      opacity: .5;
      transition: opacity .2s;
    }
  }
  .silo, .heater, .device {
    &.is-conflict {
      border-radius: 2px;
      @include border-shadow(2px, rgba(255, 0, 0, .6));
      animation: pulse 1s infinite;
    }
  }
  // .gantt-row-height {
  //   height: 2em;
  // }
  
  .is-moving {
    > .gantt-task-background {
      box-shadow:$primaryShadow;
    }
  }
  .gantt-task {
    overflow: hidden;
  }
  .gantt-task-moving,
  .gantt-task-resizing {
    z-index: 0!important;
    opacity: 1;
    filter: none;
  }
  .remove-device,
  .update-device,
  .supplier-device:not(.read-only) {
    cursor: pointer;
    color: white;
  }
  .task-content {
    margin: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .gantt-tree-body .gantt-row-label a.gantt-tree-handle-button[disabled] {
    opacity: 0;
    visibility: hidden;
  }
}

.gantt {
  font-size: 1em;
  // border: 1px solid $tertiaryColor;
  // border-radius: 3px;
  // padding: 5px;
}
.gantt-header-row,
.gantt-header-row .gantt-column-header,
.gantt-header-row-last,
.gantt-scrollable, .gantt-scrollable-header,
.gantt-foreground-col {
  border-color: $tertiaryColor;
}

@keyframes pulse {
  0% {
    @include border-shadow(2px, rgba(255, 0, 0, .4));
  }
  50% {
    @include border-shadow(3px, rgba(255, 0, 0, .6));
  }
  100% {
    @include border-shadow(2px, rgba(255, 0, 0, .4));
  }
}

.gantt {
  @include border-shadow(1px, #b8d1da);
  padding:0 0 1px 1px;
}

._gantt-body {
  overflow: hidden;
}
.gantt-task-content {
  padding: 2px 15px;
  color: white;
  font-size: .85em;
  .fa {
    font-size: 14px;
  }
  > div {
    // display: block;
    // position: relative;
    width: 100%;
    height: 100%;
  }
}