<div class="table-responsive">
    <label>From: </label>
    <md-datepicker
            ng-model="vm.startDate"
            ng-change="vm.changeDate()"
            md-open-on-focus
            md-hide-icons='triangle'
            aria-label="Selected date"></md-datepicker>
    <label>To: </label>
    <md-datepicker
            ng-model="vm.endDate"
            ng-change="vm.changeDate()"
            md-open-on-focus
            md-hide-icons='triangle'
            aria-label="Selected date"></md-datepicker>
    <label>Type: </label>
    <md-input-container>
        <md-select ng-model="vm.type" ng-change="vm.changeDate()">
            <md-option ng-repeat="type in vm.types" value="{{type}}">
                {{type}}
            </md-option>
        </md-select>
    </md-input-container>
    <hr>

    <md-table-container flex="" layout-padding="">
        <table md-table>
            <thead md-head md-order="vm.query.order">
                <tr md-row>
                    <th md-column md-order-by="type">{{ 'logs.type' | translate }}</th>
                    <th md-column md-order-by="name">{{ 'logs.name' | translate }}</th>
                    <th md-column md-order-by="method">{{ 'logs.method' | translate }}</th>
                    <th md-column md-order-by="url">{{ 'logs.url' | translate }}</th>
                    <th md-column md-order-by="date">{{ 'logs.date' | translate }}</th>
                </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="log in vm.logs | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                <td md-cell>{{ log.type }}</td>
                <td md-cell>{{ log.name }}</td>
                <td md-cell>{{ log.method }}</td>
                <td md-cell>{{ log.url }}</td>
                <td md-cell>{{ log.date | date : vm.dateFormat}}</td>
                <td md-cell>
                    <md-button ng-if="log.body" ng-click="vm.toggleDetail(log.body)" class="md-fab md-mini" title="Show Detail">
                         <i class="fa fa-info fa-2"></i>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{ vm.logs.length }}" md-page-select></md-table-pagination>

    <md-sidenav class="md-sidenav-left" style="position: relative; width-max: 100%; width: 100%" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <div layout="row">
                <span class="md-toolbar-tools">Log Detail</span>
                <button aria-label="Close detail" layout-align="right center" class="md-icon-button md-button" ng-click="vm.toggleDetail()">
                    <i class="fa fa-close fa-2"></i>
                </button>
            </div>
        </md-toolbar>

        <md-content layout-margin="">
            <pre ng-if="vm.body">{{ vm.body | json }}</pre>
        </md-content>

    </md-sidenav>

</div>
