<ng-form name="customerForm">
    <md-input-container class="md-block">
        <label>{{ 'customer.name' | translate }}</label>
        <input type="text" ng-model="vm.customer.name" required autofocus>
    </md-input-container>

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>{{ 'address.country' | translate }}</label>
            <input ng-model="vm.customer.address.country" maxlength="60">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>{{ 'address.town' | translate }}</label>
            <input ng-model="vm.customer.address.town" maxlength="60">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>{{ 'address.streetNr' | translate }}</label>
            <input ng-model="vm.customer.address.streetNr" maxlength="60">
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>{{ 'address.additionalLine' | translate }}</label>
            <input ng-model="vm.customer.address.additionalLine" maxlength="30">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>{{ 'address.zip' | translate }}</label>
            <input ng-model="vm.customer.address.zip" pattern="\d*" maxlength="15">
        </md-input-container>
    </div>

    <md-table-container>
        <table md-table>
            <thead md-head>
            <tr md-row>
                <th md-column>{{ 'permission.infoHeater' | translate }}</th>
                <th md-column>{{ 'permission.read' | translate }}</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr>
                <td md-cell>{{'permission.status' | translate}}</td>
                <td md-cell><md-input-container><md-checkbox ng-model="vm.customer.permissions.status.read"></md-input-container></md-checkbox></td>
            </tr>
            <tr>
                <td md-cell>{{'permission.alarm' | translate}}</td>
                <td md-cell><md-input-container><md-checkbox ng-model="vm.customer.permissions.alarm.read"></md-input-container></md-checkbox></td>
            </tr>
            <tr>
                <td md-cell>{{'permission.operatingHours' | translate}}</td>
                <td md-cell><md-input-container><md-checkbox ng-model="vm.customer.permissions.operatingHours.read"></md-input-container></md-checkbox></td>
            </tr>
            <tr>
                <td md-cell>{{'permission.ashLevel' | translate}}</td>
                <td md-cell><md-input-container><md-checkbox ng-model="vm.customer.permissions.ashLevel.read"></md-input-container></md-checkbox></td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-button ng-disabled="customerForm.$invalid"
               class="md-raised"
               md-colors="{backgroundColor: 'siloblue-700', color: 'siloblue-50'}"
               ng-click="vm.saveCustomer(vm.customer)">
        <span ng-if="vm.state === 'create'">{{ 'button.create' | translate }}</span>
        <span ng-if="vm.state === 'update'">{{ 'button.update' | translate }}</span>
    </md-button>

</ng-form>