.submenu,
.select {
  position: absolute;
  right: -15px;
  width: 100%;
  padding: 0 15px 0 15px;
  width: calc(100% + 15px);
  background: rgb(250,250,250);
  transition:padding .5s ease;
  z-index: 2;
  li {
    overflow:hidden;
    max-height:0;
    transition:max-height .5s ease;
  }
}
.select {
  right: 0px;
  padding: 0;
  width: auto;
}
.submenu {
  transition-delay: .5s;
  li {
    transition-delay: .5s;
  }
}
