<div class="_home">
    <div class="container">
        <div class="row">
            <table class="table" ng-if="vm.data">
                <thead>
                <tr>
                    <th ng-repeat="(key, val) in vm.data[0]">{{ key }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.data">
                    <td ng-repeat="(key, val) in item">{{ val }}</td>
                </tr>
                </tbody>
            </table>

            <!--<div>-->
                <!--<p ng-repeat="item in vm.data">{{ $index + 1 }} : {{ item.object }}</p>-->
            <!--</div>-->
        </div>
        <button style="float: right;" class="button" ng-click="vm.deleteAllDataCollection()">Clear</button>
    </div>
</div>