<div class="container">
    <div layout="row" layout-margin="5px">
        <div flex="20">
            <img src="/assets/images/silo_image.jpg" alt="silo" style="width: 100%;">
        </div>
        <div flex>
            <md-table-container>
                <h1>Silo</h1>
                <table md-table>
                    <tbody md-body>
                        <tr md-row>
                            <td md-cell>{{ 'device.serial' | translate }}</td>
                            <td md-cell>{{ vm.silo.serial }}</td>
                        </tr>
                        <tr md-row>
                            <td md-cell>{{ 'device.serialNr' | translate }}</td>
                            <td md-cell>{{ vm.silo.serialNr }}</td>
                        </tr>
                        <tr md-row>
                            <td md-cell>{{ 'device.maxLoad' | translate }}:</td>
                            <td md-cell>
                                <span>{{ vm.silo.maxLoad }}</span>
                            </td>
                        </tr>
                        <!--<tr md-row>-->
                            <!--<td md-cell>{{ 'device.fillingLevel' | translate }}:</td>-->
                            <!--<td md-cell ng-form name="fillingLevelForm">-->
                                <!--<input type="number" min="0" max="{{ vm.silo.maxLoad }}" pattern="[0-9.]+" value="{{ vm.silo.fillingLevel }}" ng-model="vm.silo.fillingLevel">-->
                                <!--<md-button ng-disabled="fillingLevelForm.$invalid"-->
                                        <!--class="md-raised"-->
                                        <!--md-colors="{backgroundColor: 'siloblue-700', color: 'siloblue-50'}"-->
                                        <!--ng-click="vm.changeFillingLevel()">{{ 'button.send' | translate }}</md-button>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <tr md-row>
                            <td md-cell>{{ 'device.fillingLevelPer' | translate }}:</td>
                            <td md-cell>
                                <!--<span>{{ vm.percent | number:0 }}</span>-->
                                <span>{{ vm.percent }}</span>
                            </td>
                        </tr>
                        <tr md-row>
                            <td md-cell colspan="2">
                                <div class="meter">
                                    <span style="width: {{vm.percent}}%" ng-class="{ full: vm.percent == 100, orange: vm.percent <= 50 && vm.percent > 30, red: vm.percent <= 30 }"></span>
                                </div>
                            </td>
                        </tr>
                        <tr md-row>
                            <td md-cell>{{ 'device.timeSiloEmpty' | translate }}</td>
                            <td md-cell>
                                <span ng-if="vm.estimateDate.months && vm.estimateDate.months > 0">{{ 'date.months' | translate }}: {{ vm.estimateDate.months }}</span>
                                <span ng-if="vm.estimateDate.days && vm.estimateDate.days > 0">{{ 'date.days' | translate }}: {{ vm.estimateDate.days }}</span>
                                <span ng-if="vm.estimateDate.hours && vm.estimateDate.hours > 0">{{ 'date.hours' | translate }}: {{ vm.estimateDate.hours }}</span>
                                <span ng-if="vm.estimateDate.minutes && vm.estimateDate.minutes > 0">{{ 'date.minutes' | translate }}: {{ vm.estimateDate.minutes }}</span>
                                <span ng-if="vm.estimateDate.seconds && vm.estimateDate.seconds > 0">{{ 'date.seconds' | translate }}: {{ vm.estimateDate.seconds }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </div>
    <div layout="row" layout-margin="5px">
        <div flex>
            <h3 >Schedule</h3>
            <device-schedule ng-if="vm.scheduleData && vm.scheduleData.length" schedule-data="vm.scheduleData"></device-schedule>
            <p ng-if="!(vm.scheduleData && vm.scheduleData.length)">{{'schedule.notUsed' | translate}}</p>
        </div>
    </div>
    <md-table-container layout="row" layout-margin="5px">
        <div flex="33" ng-if="vm.silo.employee">
            <h3>Employee</h3>
            <table md-table>
                <tbody md-body>
                <tr md-row>
                    <td md-cell>{{ 'user.realName' | translate }}</td>
                    <td md-cell><span>{{vm.silo.employee.realName}}</span></td>
                </tr>
                <tr md-row>
                    <td md-cell>{{ 'user.phone' | translate }}</td>
                    <td md-cell><span>{{vm.silo.employee.phone}}</span></td>
                </tr>
                <tr md-row>
                    <td md-cell>{{ 'user.email' | translate }}</td>
                    <td md-cell><span>{{vm.silo.employee.username}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div flex="33" ng-if="vm.silo.supplier">
            <h3>Supplier</h3>
            <table md-table>
                <tbody md-body>
                <tr md-row>
                    <td md-cell>{{ 'user.company' | translate }}</td>
                    <td md-cell><span>{{vm.silo.supplier.companyName}}</span></td>
                </tr>
                <tr md-row>
                    <td md-cell>{{ 'user.phone' | translate }}</td>
                    <td md-cell><span>{{vm.silo.supplier.phone}}</span></td>
                </tr>
                <tr md-row>
                    <td md-cell>{{ 'user.email' | translate }}</td>
                    <td md-cell><span>{{vm.silo.supplier.username}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div flex="33" ng-if="vm.silo.object">
            <h3>Object</h3>
            <table md-table>
                <tbody md-body>
                <tr md-row>
                    <td md-cell>{{ 'object.name' | translate }}</td>
                    <td md-cell><span>{{vm.silo.object.name}}</span></td>
                </tr>
                <tr md-row>
                    <td md-cell>{{ 'object.gps' | translate }}</td>
                    <td md-cell><span>{{vm.silo.object.location.gps}}</span></td>
                </tr>
                <tr md-row>
                    <td md-cell>{{ 'object.address' | translate }}</td>
                    <td md-cell>
                        <span>{{vm.silo.object.location.address.country}}</span>
                        <span>{{vm.silo.object.location.address.town}}</span>
                        <span>{{vm.silo.object.location.address.streetNr}}</span>
                        <span>{{vm.silo.object.location.address.additionalLine}}</span>
                        <span>{{vm.silo.object.location.address.zip}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-table-container>
    <md-table-container layout="row" layout-margin="5px">
        <div flex ng-if="vm.silo.orders && vm.silo.orders.length > 0">
            <h3>Orders</h3>
            <table md-table>
                <thead md-head md-order="vm.query.order">
                <tr md-row>
                    <th md-column md-order-by="createdAt">{{ 'order.createdAt' | translate }}</th>
                    <th md-column md-order-by="plannedDeliveryAt">{{ 'order.plannedDeliveryAt' | translate }}</th>
                    <th md-column md-order-by="deliveredAt">{{ 'order.deliveredAt' | translate }}</th>
                    <th md-column md-order-by="amountOfTons">{{ 'order.amountOfTons' | translate }}</th>
                    <th md-column md-order-by="amountCHF">{{ 'order.amountCHF' | translate }}</th>
                    <th md-column>{{ 'order.amountCHFPerTon' | translate }}</th>
                    <th md-column md-order-by="status">{{ 'order.status' | translate }}</th>
                </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="order in vm.silo.orders">
                        <td md-cell>{{ order.createdAt | date: vm.dateFormat }} </td>
                        <td md-cell>{{ order.plannedDeliveryAt | date: vm.dateFormat }}</td>
                        <td md-cell>{{ order.deliveredAt | date: vm.dateFormat }}</td>
                        <td md-cell>{{ order.amountOfTons }}</td>
                        <td md-cell>{{ order.amountCHF | currency: "&#8355; " }}</td>
                        <td md-cell>{{ order.amountCHF / order.amountOfTons || null | currency: "&#8355; " }}</td>
                        <td md-cell>{{ order.status }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-table-container>
    <logbook records="vm.silo.logbook" device="vm.silo"></logbook>
</div>
