<form name="orderForm">
    <div layout-gt-sm="row">
        <div class="md-block" layout="column" flex-gt-xs>
            <label>{{ 'common.silo' | translate }}</label>
            <md-input-container>
                <md-select ng-model="vm.order.silo" placeholder="{{ 'input.pleaseSelect' | translate }}" required="">
                    <md-option ng-value="silo" ng-repeat="silo in vm.silos">{{silo.serial}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div layout-gt-sm="row">
        <div class="md-block" layout="column" flex-gt-xs>
            <md-input-container class="md-block" flex-gt-xs>
                <label>{{ 'order.supplier' | translate }}</label>
                <input ng-value="vm.order.silo.supplier.companyName" disabled>
            </md-input-container>
        </div>
        <div class="md-block" layout="column" flex-gt-xs>
            <md-input-container class="md-block" flex-gt-xs>
                <label>{{ 'order.amountOfTons' | translate }}</label>
                <input ng-value="vm.order.silo.maxLoad" disabled>
            </md-input-container>
        </div>
    </div>
    <md-button ng-disabled="orderForm.$invalid"
               class="md-raised"
               md-colors="{backgroundColor: 'siloblue-700', color: 'siloblue-50'}"
               ng-click="vm.createOrder(vm.order)">{{ 'button.create' | translate }}</md-button>
</form>