<div flex="none" class="device-icon">
    <i class="fa fa-battery-4 fa-rotate-270"></i>
    <i ng-if="task.row._collapsed && task.model.data.children"
        ng-repeat="child in task.model.data.children"
        class="fa fa-fire"></i>
</div>
<div flex class="task-content">{{task.model.title}}</div>
<div flex="none" class="action-icon" ng-if="!scope.options.hideActions">
    <i
        ng-if="!scope.options.readOnly"
        class="fa fa-user-circle-o supplier-device" title="supplier"
        ng-style="!task.model.data.supplier && { 'color': 'rgb(194, 62, 0)'}"
        ng-click="scope.schedule.changeSupplier(task.model.data)">
    </i>
    <i
        ng-if="scope.options.readOnly"
        ng-class="{'read-only': scope.options.readOnly}"
        class="fa fa-user-circle-o supplier-device" title="supplier"
        ng-style="!task.model.data.supplier && { 'color': 'rgb(194, 62, 0)'}">
    </i>
    <i
        ui-sref="admin.devices.update({id:task.model.data._id, type: task.model.type})" 
        class="fa fa-gear update-device" title="edit">
    </i>
    <i
        ng-if="!task.row._collapsed && !scope.options.readOnly"
        ng-click="scope.schedule.removeRow(task.model.uuid)" 
        class="fa fa-times-circle remove-device" title="remove">
    </i>
</div>